.mapdiv
{
    width: 38%;
    margin: auto;
    
}
.mapdiv:hover{
    fill: red;
}

.mapdiv path{
    fill: lightcyan;
    stroke: green;
    stroke-width: 4px;
    transition: fill 0.5s;
}